@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

a:visited, a:link  {
	text-decoration: none;
	color: #000AAA;
}

a:hover, a:focus  {
	color: #0000EE;
}

h1, h2, h3 {
	font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
	margin: 0;
}

h3 {
	font-size: 125%;
}

main {
	margin-left: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
}

header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom-width: 5px;
	border-color: #EA4A00;
	color: #FFF;	
}

header p {
	font-size: 120%;
	color: #EEE;
	margin: 0;
}

.restuarantinfo {
	padding: 1em;
}

.menu {
	padding: 1em;
	background-color: rgb(207,205,140);
	opacity: 0.5;
}

.menu dt {
	font-weight: 400;
}

.menu dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

.about {
	padding: 1em;
}

#copyright {
	font-style: italic;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border-top-width: 5px;
	border-top-color: #EC791F;
	font-size: 80%;
	text-align: right;
}







/* 
your CSS rules and font imports should go here 
delete this comment, add the import directives for your fonts
and add the CSS rules as described in the challenge
*/
